*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252525;
  font-family: 'Arial Narrow', Arial, sans-serif;
  color: #dfdfdf;
}

.title {
  font-size: 32px;
  font-weight: lighter;
  letter-spacing: .5em;
  text-align: center;
  padding: 1.5em;
}

.content {
  position: relative;
}